.input {
  display: block;
  width: 100%;
  height: 30px;
  padding: 5px;
  box-shadow: inset 1px 1px 3px #fff1f1;
  border-color: #6c4e3f78;
  border-radius: 5px;
}

.p {
  color: #B30202;
  font-weight: 600;
  padding: 5px 0 0 0;
}