.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em;
}

.header {
  height: 35px;
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}

.header h1 {
  padding: 0 7em;
  text-align: center;
  line-height: 35px;
}

.header button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  margin: 0;
}
